.hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__content {
  max-width: 600px;
  padding-top: 7rem;
  padding-bottom: 7rem;
  margin-left: auto;
  margin-right: auto;
  border-left: 10px solid var(--color-white);
  border-right: 10px solid var(--color-white);
  text-align: center;
  background-color: var(--color-black);
  color: var(--color-white);
}

.hero__separator {
  max-width: 80px;
}