.thumbnail {
  margin-bottom: 30px;
}

.thumbnail__body {
  text-align: center;
}

.thumbnail__image {
  position: relative;
  height: 230px;
  margin-bottom: 15px;
  overflow: hidden;
}
.thumbnail__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.thumbnail__backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  border-radius: 0 0 50% 50%;
  background-color: rgba(255, 255, 255, .7);
  transform: translateY(-100%);
  opacity: 0;
  transition: transform .5s ease, opacity .5s ease, border-radius .5s ease;
}
.thumbnail__backdrop a,
.thumbnail__backdrop button {
  margin-top: 10px;
  margin-bottom: 10px;
}
.thumbnail__image:hover .thumbnail__backdrop {
  border-radius: 0;
  transform: translateY(0);
  opacity: 1;
}

.thumbnail__meta {
  display: block;
  margin-bottom: 10px;
  color: var(--color-gray);
}

.thumbnail__title {
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-black);
}
.thumbnail__title > span {
  position: relative;
  display: inline-block;
}
.thumbnail__title > span::after {
  content: '';
  display: block;
  height: 2px;
  background-color: var(--color-gray);
  transform-origin: left center;
  transform: rotateY(90deg);
  transition: transform .3s ease;
}
.thumbnail__title > span:hover::after {
  transform: rotateY(0deg);
}

/*
** Row direction
 */
.thumbnail--row {
  display: flex;
  margin-bottom: 0;
}
.thumbnail--row .thumbnail__image {
  max-width: 150px;
  margin-right: 10px;
  height: auto;
}
.thumbnail--row .thumbnail__body {
  text-align: left;
}