.cart {
  flex-grow: 1;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--color-light-gray);
}
.cart h1 {
  margin-bottom: 60px;
  font-size: 3rem;
}
.cart__section {
  padding: 30px;
  background-color: var(--color-white);
}
.cart__price {
  color: var(--color-gray);
}