.number {
  display: flex;
}
.number__result {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  border: 1px solid var(--color-white);
  border-right-width: 2px;
  background-color: var(--color-light-gray);
}
.number__actions {
  display: flex;
  flex-direction: column;
}
.number__actions button {
  width: 25px;
  height: 25px;
  background-color: var(--color-light-gray);
  border: 1px solid var(--color-white);
}