.spinner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: var(--high-z-index);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, .85);
}

.spinner__animation {
  width: 30px;
  height: 30px;
  border-radius: 3px;
  background-color: var(--color-black);
  animation: spin ease 2s infinite;
  box-shadow: 35px 0 0 rgba(0, 0, 0, .5),
              0 35px 0 rgba(0, 0, 0, .4),
              -35px 0 0 rgba(0, 0, 0, .3),
              0 -35px 0 rgba(0, 0, 0, .2);
}

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1);
    border-radius: 3px;
    box-shadow: 35px 0 0 rgba(0, 0, 0, .5),
                0 35px 0 rgba(0, 0, 0, .4),
                -35px 0 0 rgba(0, 0, 0, .3),
                0 -35px 0 rgba(0, 0, 0, .2);
  }
  50% {
    transform: rotate(180deg) scale(.8);
    border-radius: 50%;
    box-shadow: 0 0 0 rgba(0, 0, 0, .9),
                0 0 0 rgba(0, 0, 0, .8),
                0 0 0 rgba(0, 0, 0, .7),
                0 0 0 rgba(0, 0, 0, .6);
  }
  100% {
    transform: rotate(360deg) scale(1);
    border-radius: 3px;
    box-shadow: 35px 0 0 rgba(0, 0, 0, .5),
                0 35px 0 rgba(0, 0, 0, .4),
                -35px 0 0 rgba(0, 0, 0, .3),
                0 -35px 0 rgba(0, 0, 0, .2);
  }
}