.logo {
  display: inline-block;
  opacity: .7;
  transition: opacity .2s ease;
}
.logo:hover {
  opacity: 1;
}
.logo__image {
  display: inline-block;
  max-height: 68px;
  width: auto;
  vertical-align: middle;
}