.product-details {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.product-details__meta {
  color: var(--color-gray);
}
.product-details__price {
  font-size: 16px;
  font-weight: bold;
  color: var(--color-gray);
}
.product-details__description {
  color: var(--color-gray);
}
.product-details__separator {
  margin-top: 2em;
  margin-bottom: 2em;
  border-top: 0;
  border-bottom: 1px solid var(--color-light-gray);
}
.product-details__image {
  max-width: 100%;
}