.table {
  width: 100%;
  overflow-y: auto;
}
.table table {
  text-align: left;
  width: 100%;
}
.table th {
  border-bottom: 1px solid var(--color-light-gray);
}
.table th,
.table td {
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: top;
}