.btn {
  display: inline-block;
  padding: 12px 15px;
  border: 1px solid var(--color-white);
  font-size: var(--small-font-size);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-black);
  background-color: var(--color-white);
}
a.btn {
  text-decoration: none;
}
.btn--block {
  display: block;
  width: 100%;
}
.btn--primary {
  border-color: var(--color-black);
  color: var(--color-white);
  background-color: var(--color-black);
  transition: background-color .2s linear;
}
.btn--primary:hover {
  border-color: var(--color-light-black);
  background-color: var(--color-light-black);
}

.btn--outlined {
  background-color: transparent;
}

.btn--lg {
  padding: 18px;
}