.clear-fix::before,
.clear-fix::after {
  content: '';
  display: table;
  clear: both;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.col--self-width {
  flex-grow: 0;
  flex-shrink: 0;
}

.nowrap {
  white-space: nowrap;
}