:root {
  --default-font-size: 14px;
  --small-font-size: 12px;

  /*
  ** Z-indexes
   */
  --high-z-index: 20;
  --normal-z-index: 10;
  --low-z-index: 5;

  /*
  ** Colors
   */
  --color-white: #fff;
  --color-black: #232225;
  --color-light-black: #3b393e;
  --color-gray: #857c7b;
  --color-light-gray: #e6e6e6;

  /*
  ** Fonts
   */
  --default-serif-font: serif;
  --default-snas-serif-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}